.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 10px;
  width: 600px;
  border: 4px solid black;
  border-radius: 5px;
}

.photo {
  grid-column: 1/2;
  grid-row: 1/4;

  background-image: url("../images/avatar.png");
  background-size: cover;

  img {
    max-width: 80%;
  }
}

.description {
  grid-column: 2/4;
  grid-row: 1/3;
  margin: 0;
  padding: 5px;
}

.button {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;

  .btn {
    margin-top: 15px;
    border-radius: 5px;
  }
}