.bottom {
  height: 100vh;
  background-color: #222;

  position: relative;
  .box {
    position: absolute;
    top: 25%;
    left: 37.5%;
    width: 25%;
    height: 50%;
    background-color: gold;
  }
}