.loading {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 50px;

    span {
        margin: 0.3em;
        width: 1em;
        height: 1em;
        display: block;
        border-radius: 50%;
        background: $color;

        @for $i from 1 through 9 {
            &:nth-of-type(#{$i}) {
                $delay : (0.05 * $i) * 1s;
                animation: loading-anim 1s $delay infinite;
            }
        }
    }
}

@keyframes loading-anim {
    50% {
        transform: scale(0);
        opacity: 0;
    }
}