.post {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.post-cover-img {
    max-width: 100%;
}
.post-title {
    font-size: 2.5rem;
    color: #3c3958;
}
.post-content {
	font-size: 1.188rem;
    color: rgba(#212c3f, 0.8);
    line-height: 1.563rem;
}
.post-btn {
    border: 2px solid orangered;
    color: $color;
    padding: 0.938rem 2.5rem;
    background: none;
    border-radius: 2.125rem;
    display: inline-block;
    text-decoration: none;
    margin-top: 2rem;
    align-self: flex-end;
}