
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 150px;
  margin-right: 150px;

  [class*="col-"] {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (min-width: 780px){
    .row {
      display: flex;
    }

    @for $i from 1 through 12 {
      .col-#{$i}-12 {
        width: (100/12*$i) * 1%;
      }
    }
  }

}

.header {
  height: 200px;
  background-color: red;
}

.aside-left {
  height: 800px;
  background-color: gold;
}

.aside-right {
  height: 800px;
  background-color: gold;
}

.main-content {
  height: 800px;
  background-color: blue;
}

.services {
  height: 350px;
  background-color: #00FA9A;
}

.footer {
  height: 150px;
  background-color: darkblue;
}