

$color1: white;
$color2: black;

@mixin grad($color1, $color2) {
  background-image: linear-gradient($color1, $color2);
}

@mixin drawItem($shape, $background-color){
  @if $shape == circle {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  border-radius: 50%;
  background-color: $background-color;
} @else if $shape == rectangle {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    background-color: $background-color;
  }
}

@mixin dialogBox ($backgroundColor, $width) {
  width: $width;
  padding: 10px;
  background-color: $backgroundColor;
  border: 1px solid black;
  margin: 40px auto;
  position: relative;

  &::after {
    position: absolute;
    top: -7.07px; // Dlatego, że trzeba było wyliczyć przekątną kwadratu i podzielić przez 2
    left: 100px;
    transform: rotate(45deg);
    content: '';
    display: inline-block;
    border: 1px solid black;
    background-color: $backgroundColor;
    width: 10px;
    height: 10px;
  }
}