$colorsMap : (
    color_1 : #ffffff,
    color_2 : #F7D200,
    color_3 : #F28E1C,
    color_4 : #292011,
    color_5 : #ED1015,
    color_6 : #7C3E0F
);

$colorsList : 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,4,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,4,4,4,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,4,4,4,1,1,1,4,4,4,4,4,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,2,4,4,1,1,1,1,4,4,4,3,3,3,4,4,4,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,2,3,4,4,1,1,1,1,1,1,4,4,6,2,2,2,2,3,4,4,4,4,1,4,4,4,4,4,4,4,1,4,4,2,2,2,2,3,3,4,1,1,1,1,1,1,1,1,4,4,6,3,2,2,2,2,2,2,2,4,3,2,2,2,2,2,2,4,3,2,2,2,2,3,3,4,1,1,1,1,1,1,1,1,1,1,4,4,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,4,1,1,1,1,1,1,1,1,1,1,1,1,4,4,3,3,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,2,3,4,3,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,3,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,4,1,1,1,1,1,1,4,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,4,4,1,1,1,1,1,1,1,1,1,1,4,2,2,2,4,4,2,2,2,2,2,2,2,2,4,4,2,2,4,1,1,1,1,1,1,4,3,4,1,1,1,1,1,1,1,1,4,2,2,2,4,4,1,4,2,2,2,2,2,2,4,4,1,4,2,3,4,1,1,1,1,1,4,2,3,4,1,1,1,1,1,1,1,4,2,2,2,4,4,4,4,2,2,2,2,2,2,4,4,4,4,2,2,4,1,1,1,1,1,4,2,2,3,4,1,1,1,1,1,1,4,2,2,2,2,4,4,2,2,2,2,2,2,2,2,4,4,2,2,2,4,1,1,1,1,1,4,2,2,2,3,4,1,1,1,1,4,2,2,5,5,2,2,2,2,2,2,4,4,2,2,2,2,2,2,5,5,2,4,1,1,1,1,4,2,2,2,2,3,4,1,1,1,4,2,5,5,5,5,2,2,2,2,2,2,2,2,2,2,2,2,5,5,5,5,4,1,1,1,1,4,2,2,2,2,2,3,4,1,1,4,2,5,5,5,5,2,2,4,2,2,4,4,2,2,4,2,2,5,5,5,5,4,1,1,1,1,4,2,2,2,2,2,2,3,4,1,4,2,2,5,5,2,2,2,2,4,4,2,2,4,4,2,2,2,2,5,5,2,4,1,1,1,1,4,2,2,2,2,2,2,2,3,4,4,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,4,2,2,2,2,2,2,2,2,3,4,4,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,4,1,1,1,1,1,1,4,2,2,2,2,2,2,2,2,4,1,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,1,4,2,2,2,2,2,2,4,1,4,3,2,2,2,2,2,2,2,3,3,3,3,2,2,2,2,2,2,3,4,1,1,1,1,1,1,1,1,4,2,2,2,2,4,1,1,4,4,2,2,2,2,2,2,2,2,3,3,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,4,2,2,2,2,4,1,1,1,4,2,2,2,2,2,2,4,2,2,2,2,2,2,4,2,2,2,2,2,4,1,1,1,1,1,1,1,4,2,2,2,2,2,4,1,4,2,2,2,4,2,2,2,4,2,2,2,2,2,2,4,2,2,2,4,2,4,1,1,1,1,1,1,1,1,4,2,2,2,2,2,4,4,2,2,2,4,2,2,2,2,4,2,2,2,2,4,2,2,2,2,4,2,2,4,1,1,1,1,1,1,1,1,4,2,2,3,3,6,4,2,2,2,3,4,2,2,2,4,2,2,2,2,4,2,2,2,4,3,2,2,4,1,1,1,1,1,1,1,1,1,4,3,3,3,4,4,2,2,2,3,4,2,2,2,4,2,2,2,2,4,2,2,2,4,3,2,2,4,1,1,1,1,1,1,1,1,1,1,4,3,6,6,4,2,2,2,2,3,4,2,2,4,2,2,2,2,4,2,2,4,3,2,2,2,4,1,1,1,1,1,1,1,1,1,4,6,6,6,6,4,2,2,2,2,2,3,4,4,2,2,2,2,2,2,4,4,3,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,4,6,6,6,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,4,4,6,4,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,2,2,3,3,3,3,3,3,3,2,2,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,3,2,3,3,4,4,4,4,4,4,4,3,3,2,3,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,2,2,2,4,4,4,1,1,1,1,1,1,4,4,2,2,2,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,4,4,4,1,1,1,1,1,1,1,1,1,4,4,4,4,4,1,1,1,1,1,1;



.picture {
    max-width: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(37, 1fr);
}

.picture div {
    &:before {
        display: block;
        padding-top:100%;
        content: "";
    }
}

.element {
    width: 200px;
    height: 200px;
    background: gold;
    margin: 30px;
}