body {
	margin: 0;
}

.container {
	background-color: #fff;
	.sidebar {
		background-color: black;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
		margin: 20px;
	}
	.main {
		background-color: blue;
		color: #fff;
        height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px;
	}
	@media (min-width: 768px) {
		display: flex;
		height: 100vw;

		.sidebar {
			width: 300px;
			margin: 10px 0 10px 10px;
		}
		.main {
			flex-grow: 1;
			margin: 10px 10px 10px 0;
		}
    }
}